.bannerimg {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .bannerimg img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .text-group {
    position: absolute; /* Posiciona os textos sobre a imagem */
    top: 0;
    left: 10px;
    width: 100%; /* Texto ocupa a largura total da seção */
    height: 100%; /* Texto ocupa a altura da imagem */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    z-index: 1; /* Garante que os textos fiquem acima da imagem */
}

.animated-text {
    font-size: 6.5vw; /* Texto responsivo */
    font-weight: bold;
    color: var(--rosa-claro); /* Define a cor do texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
    margin-left: 2vw;
}
  .linha1 {
    top: 25%;
    left: 2vw; /* Usando vw para ser responsivo */
    animation-delay: 0s;
    margin-left: 2vw;
  }
  
  .linha2 {
    top: 45%;
    left: 6vw; /* Incremento proporcional */
    animation-delay: 1s;
    margin-left: 3vw;
  }
  
  .linha3 {
    top: 65%;
    left: 12vw;
    animation-delay: 2s;
  }
  
  .linha4 {
    top: 85%;
    left: 8vw; /* Ajustado para responsividade */
    animation-delay: 3s;
  }
  
  .linha5 {
    top: 100%;
    left: 15vw;
    animation-delay: 4s;
  }
.linha6 { top: 30%; left: 10vw; animation-delay: 0s; }
.linha7 { top: 50%; left: 15vw; animation-delay: 1s; }
.linha8 { top: 70%; left: 20vw; animation-delay: 2s; }
.linha9 { top: 90%; left: 25vw; animation-delay: 3s; }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Media Queries para telas menores */
  @media (max-width: 768px) {
    .animated-text {
      font-size: 7vw; /* Ajuste para fontes maiores */
    }
  
    .linha1 {
      left: 3vw;
    }
  
    .linha2 {
      left: 5vw;
    }
  
    .linha3 {
      left: 9vw;
    }
  
    .linha4 {
      left: 6vw;
    }
  
    .linha5 {
      left: 12vw;
    }
  }
  
  @media (max-width: 480px) {
    .animated-text {
      font-size: 9vw; /* Para dispositivos móveis */
    }
  
    .linha1 {
      left: 2vw;
    }
  
    .linha2 {
      left: 4vw;
    }
  
    .linha3 {
      left: 7vw;
    }
  
    .linha4 {
      left: 5vw;
    }
  
    .linha5 {
      left: 10vw;
    }
  }
  