.carrossel {
  background-color: var(--cor-de-fundo);
}

.carrossel2 {
  background-color: var(--amarelo-claro);
}

.carrossel__titulo {
  color: var(--azul-claro);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 0.5em 0 0.5em 0;
}

.carrossel__titulo2 {
  color: var(--azul-claro);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}

.rotate-90 {
  transform: rotate(0deg);
}


.swiper-slide {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0.6;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.50);
  border: 3px solid #3d5aff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-button-prev, .swiper-button-next {
  display: block;
}
.swiper-button-prev2,
.swiper-button-next2 {
  color: var(--rosa-claro);
  
}

.swiper-pagination {
  position: initial;
  margin: 0.5em;
}

.card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.card__botoes {
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
}

.botoes__ancora {
  text-decoration: none;
  border-radius: 8px;
  background-color: var(--azul-claro);
  padding: 0.5em 1.2em;
  color: var(--branco);
  font-weight: 700;
}

.botoes__ancora2 {
  text-decoration: none;
  border-radius: 8px;
  background-color: var(--azul-claro);
  padding: 0.5em 1.2em;
  color: var(--branco);
  font-weight: 700;
}

.botoes__ancora:active{
    background-color: var(--azul-claro);
}

.botoes__ancora:hover {
  background-color: var(--azul-hover);
}


.card {
  background: var(--branco);
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 5em;
  padding: 1em;
}

.card2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9; /* Define a proporção 16:9 */
 /* padding-top: 56.25%; /* Proporção 16:9 (9 / 16 * 100) */
  border-radius: 10px;
  /* position: relative; Necessário para o conteúdo do card */
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* overflow: hidden; */
}

.card-content {
  color: var(--branco); /* Texto branco para contraste com o fundo */
  font-size: 1.2em; /* Tamanho do texto */
  text-align: left; /* Alinha o texto à esquerda */
  max-width: 50%; /* Limita a largura do texto dentro do card */

}


.descricao__titulo {
  color: var(--azul-claro);
  font-weight: 700;
}

.descricao__titulo-vantagens {
  color: var(--azul);
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0;
}

.descricao__texto {
  font-size: 14px;
}

.botoes__item {
  margin: 0 0.5em;
}

.estrelas {
  display: flex;
  margin-bottom: 1em;
}

/*-----swiper2------*/

.carrossel__container,
.carrossel__container2 {
  max-width: 200vw; /* Evita que o carrossel ultrapasse a largura da tela */
  overflow: hidden; /* Impede que os slides "fujam" do contêiner */
}

.swiper2 {
  width: auto; /* Garante que o carrossel ocupe 100% da largura do contêiner */
  max-width: 100%; /* Impede que o carrossel ultrapasse o tamanho da tela */
  margin: auto;  /* Centraliza o carrossel */
}

.swiper2 .swiper-slide img {
  width: 100%;  /* Garante que a imagem ocupe toda a largura do slide */
  height: auto;  /* Mantém a proporção da imagem */
  object-fit: cover;  /* Garante que a imagem cubra o slide, sem cortar */
}

.carrossel__container2 {
  padding-bottom: 50px;  /* Adiciona um espaço extra abaixo dentro da seção do carrossel */
}

.swiper2 .swiper-slide .slide-text {
  position: absolute;
  top: 50%; /* Distância do topo */
  left: 30px; /* Distância da esquerda */
  transform: translateY(-50%); /* Ajuste para centralizar verticalmente */
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: justify; /* Justifica o texto */
  
  max-width: 50%; /* Limita a largura do texto */
  word-wrap: break-word; /* Garante que o texto seja quebrado corretamente */
  white-space: normal; /* Permite quebra de linha */
}

.swiper2 .swiper-slide-active {
  opacity: 1;
  transform: scale(1.100);
  border: 4px solid #3d5aff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1024px) {
  .carrossel__titulo {
    font-size: 26px;
  }
  .swiper-pagination {
    margin: 2em 0 3em 0;
  }

  .swiper {
    width: 60%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
    
  }

  .swiper-button-prev2,
  .swiper-button-next2 {
    color: var(--rosa-claro) !important;
    
  }

  .card {
    width: 40%;
    margin: 2em auto;
  }
}

@media screen and (min-width: 1728px) {

  .carrossel__titulo2 {
    color: var(--azul-claro);
    background-color: var(--branco);
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    padding: 0.5em 0 0.5em 0;
  }

  .carrossel__container {
    display: flex;
    margin: 0 20vw 3em 20vw;
    align-items: center;
  }

  .carrossel__container2 {
    display: flex;
    align-items: self-end;  
    align-items: center;
  }

  .botoes__ancora2 {
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--azul-claro);
    padding: 0.5em 1.2em;
    color: var(--branco);
    font-weight: 100;
    box-sizing: flex;
  }

  .swiper-pagination{
    margin: 1em 0;
  }
  .swiper{
    width: 50%;
  }
  .descricao__titulo{
    font-size: 32px;
  }

  .descricao__texto{
    font-size: 16px;
  }

  .descricao{
    margin-right: 2em;
  }

  .card{
    width: 50%;
    margin-left: 3em;
  }
  .swiper-button-prev2,
  .swiper-button-next2 {
    color: var(--rosa-claro) !important;
    
  }
 

}


