body {
    font-family: var(--fonte-principal);
}

.formulario {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #FFF7B5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px; /* Ajuste conforme necessário */
    z-index: 10000; /* Sobrepõe tudo na página */
}

.formulario h2 {
    color: #007BFF;
    text-align: center;
}

.formulario label {
    text-align: left; /* Alinha as labels à esquerda */
    display: block;
    margin-top: 20px;
 
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box; /* Garante que os campos não ultrapassem as margens */
}

.informacao {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    text-align: center;
}

.euQuero {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.euQuero:hover {
    background-color: #0b5ed7;
}

.fechar {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.mensagem-sucesso {
    display: none;
    text-align: center;
    color: green;
}

.mensagem-sucesso i {
    font-size: 50px;
    color: green;
}

.mensagem-sucesso p {
    font-size: 18px;
    margin-top: 10px;
}
@media (max-width: 1280px){

    .formulario {
        position: absolute;
        top: 20px; /* Ajusta a distância do topo */
        left: 50%; /* Centraliza horizontalmente */
        transform: translateX(-50%); /* Compensa o deslocamento para centralizar */
        background-color: #FFF7B5; /* Cor do fundo */
        padding: 20px;
        border-radius: 10px; /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
        width: 90%; /* Adapta largura para telas menores */
        max-width: 300px; /* Limita a largura máxima */
        z-index: 10000; /* Mantém o formulário acima de outros elementos */
    }

}