hr {
  margin: 0em;
}
.rodape {
  background-color: var(--branco);
  padding: 5em;
}

.lista-rodape{
    display: flex;
    flex-direction: column;
}
.lista-rodape__link{
    text-decoration: none;
}

.lista-rodape__titulo{
color: var(--azul-claro);

}
@media screen and (min-width: 1024px){

    .rodape{
        display: flex;
        justify-content: space-around;
        
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
        font-size: 18px;
        

    }
    .lista-rodape__link{
        color: var(--azul-claro);
        text-decoration: none;
        margin-left: 0em;
    }
    .lista-rodape__link:hover{
        color: var(--azul);
    }

    .lista-rodape__titulo{
        font-size: 14px;
        color: var(--azul-claro);
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape{
        display: block;
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape{
        /* border-left: 1px solid var(--cinza-claro); */
        padding-left: 1em;
        
    }

    .rodape{
        padding: 3em 0;
    }
    .lista-rodape__link{
        text-decoration: none;
    }
}

@media screen and (max-width: 1728px){
    .lista-rodape{
        /* border-left: 1px solid var(--cinza-claro); */
        padding-left: 1em;
        
    }
   
    /* .rodape{
        padding: 3em 0;
    } */
   
    .lista-rodape__link{
        padding-bottom: 2vw;
    }
    .lista-rodape__titulo{
        padding-top: 2vw;
    }
    .lista-rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }


